#app {
    color: #2C3E50;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form {
    text-align: left;
}

.card {
    text-align: left;
    border: 1px solid #2C3E50;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.note {
    padding: 5px;
}